absl-py==0.8.1
astor==0.8.0
atari-py==0.2.6
attrs==19.3.0
backcall==0.2.0
bleach==3.1.5
cached-property==1.5.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cloudpickle==1.5.0
cycler==0.10.0
Cython==0.29.14
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
fasteners==0.15
future==0.18.2
gast==0.3.2
glfw==1.8.7
grpcio==1.25.0
gtimer==1.0.0b5
gym==0.12.1
h5py==2.10.0
idna==2.8
imageio==2.6.1
importlib-metadata==0.23
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
joblib==0.9.4
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.2
-e git+https://github.com/rlworkgroup/metaworld.git@2957703f095ff5ca9c44c0295b80b4bb46aeca12#egg=metaworld
mistune==0.8.4
monotonic==1.5
more-itertools==7.2.0
mpi4py==3.0.3
mujoco-py==2.0.2.9
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.0.3
numpy==1.18.0
opencv-python==4.1.2.30
packaging==19.2
pandas==1.0.5
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.1
pkg-resources==0.0.0
pluggy==0.13.0
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.10.0
ptyprocess==0.6.0
py==1.8.0
pycparser==2.19
pygame==1.9.6
pyglet==1.4.8
Pygments==2.6.1
PyOpenGL==3.1.0
pyparsing==2.4.5
PyPrind==2.11.2
pyrsistent==0.16.0
pytest==5.3.0
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.1
qtconsole==4.7.5
QtPy==1.9.0
requests==2.22.0
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
six==1.13.0
tensorboard==1.12.2
tensorboardX==2.0
tensorflow-gpu==1.12.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
Theano==1.0.4
torch==1.1.0
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.7
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
zipp==0.6.0
